<nav class="flex items-center justify-center p-4 border-b border-gray-500">
    <div class="inline-flex gap-2">
        <a [routerLink]="['/home']" [routerLinkActive]="['bg-black']" class="p-2 rounded-lg hover:bg-gray-600 hover:underline ease-in duration-100 underline-offset-4">Home</a>
        <a [routerLink]="['/login']" [routerLinkActive]="['bg-black']" class="p-2 rounded-lg hover:bg-gray-600 hover:underline ease-in duration-100 underline-offset-4">Login</a>
        <a [routerLink]="['/register']" [routerLinkActive]="['bg-black']" class="p-2 rounded-lg hover:bg-gray-600 hovere:ease-in:underline ease-in duration-300 underline-offset-4">Register</a>
    </div>
</nav>