<div class="flex min-h-screen items-center justify-center">
    @if (forgotPasswordSuccessful) {
        <div class="flex justify-center items-center flex-col">
            <h1>Forgot password succeded, a reset password link has been send to your email.</h1>
            <button mat-raised-button [routerLink]="['/login']">Login</button>
        </div>
    } @else {
        <mat-card class="p-1 md:p-4">
            <mat-card-header>
                <div class="pb-2">
                    <mat-card-title class="dark:!text-white">Forgot Password</mat-card-title>
                </div>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-1 pb-4">
                    <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                        <mat-label>Email</mat-label>
                        <input [type]="'email'" matInput [formControl]="email" placeholder="Email" autocomplete="email"/>
                        <mat-icon matSuffix>email</mat-icon>
                        @if (email.hasError('email')) {
                            <mat-error>Email is invalid</mat-error>
                        }
                        @else if (email.hasError('required')) {   
                            <mat-error>Email is required</mat-error>   
                        }
                    </mat-form-field>
                    
                    <button type="submit" [disabled]="!form.valid || isLoading" mat-raised-button>
                        @if (isLoading) {
                            <mat-spinner diameter="20"></mat-spinner>
                        } @else {
                            Submit
                        }
                    </button>
                </form>
            </mat-card-content>
        </mat-card>
    }
</div>