
<mat-card class="p-4">
    <mat-card-header>
        <div class="pb-2">
            <mat-card-title class="blue-text-color">Login</mat-card-title>
        </div>
    </mat-card-header>
    <mat-card-content>
        <!-- LoginForm component -->
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col pb-4 gap-1">
            <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                <mat-label>Email</mat-label>
                <input [type]="'email'" matInput [formControl]="email" placeholder="Email" autocomplete="email"/>
                <mat-icon matSuffix>email</mat-icon>
                @if (email.hasError('email')) {
                    <mat-error>Email is invalid</mat-error>
                }
                @else if (email.hasError('required')) {   
                    <mat-error>Email is required</mat-error>   
                }
            </mat-form-field>
            <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide() ? 'password' : 'text'" [formControl]="password" placeholder="Password" autocomplete="current-password"/>
                <button type="button" mat-icon-button matSuffix (click)="togglePassword($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                @if (password.hasError('required')) {
                    <mat-error>Password is required</mat-error>
                }
                @else if (password.hasError('minlength')) {
                    <mat-error>Password must be at least 10 characters</mat-error>
                }
                @else if (password.hasError("hasSpace")) {
                    <mat-error>Password must not contain spaces</mat-error>
                }
                @else if (password.hasError('hasLower')) {
                    <mat-error>Password must contain a lowercase letter</mat-error>
                }
                @else if (password.hasError('hasUpper')) {
                    <mat-error>Password must contain an uppercase letter</mat-error>
                }
                @else if (password.hasError("hasNumber")) {
                    <mat-error>Password must contain a number</mat-error>
                }
                @else if (password.hasError("notOnlyLettersOrNumbers")) {
                    <mat-error>Password must contain a special character</mat-error>
                }
                @else if (password.hasError('maxlength')) {
                    <mat-error>Password must be max 100 characters</mat-error>
                }
            </mat-form-field>
            <button type="submit" [disabled]="!form.valid || isLoading" mat-raised-button>
                @if (isLoading) {
                    <mat-spinner diameter="20"></mat-spinner>
                } @else {
                    Login
                }
            </button>
        </form>
        <div class="flex justify-between items-center">
            <a [routerLink]="['/register']" class="hover:underline hover:text-blue-200 text-sm p-2">Don't have an account ?</a>
            <a [routerLink]="['/forgot-password']" class="hover:underline hover:text-blue-200 text-sm text-right p-2">Forgot password ?</a>
        </div>
    </mat-card-content>
</mat-card>